@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";
@theme {
  --color-darkGray: #2C3639;
  --color-Lightgray: #3F4E4F;
  --color-brown: #A27B5C;
  --color-cream: #DCD7C9;
  --radius-4xl: 91px 20px 81px 20px;	
  --font-imperial:"Tangerine";

}
